$base-accent: #eed484;
$base-font-family: "Roboto", "RobotoFallback", "Noto Kufi Arabic", "Helvetica", "Arial", sans-serif;
$base-text-color: #ffffff;
$base-label-color: #ffffff;
$base-icon-color: #ffffff8a;
$base-spin-icon-color: #ffffff8a;
$base-bg: #363640;
$base-border-color: #515159;
$base-success: #8bc34a;
$base-warning: #ffc107;
$base-danger: #f44336;
$base-hover-color: #ffffff;
$base-hover-bg: #ffffff0d;
$base-focus-color: #000000de;
$base-focus-bg: #ffffff0d;
$base-link-color: #eed484;
$base-border-radius: 2px;
$button-normal-color: #ffffff;
$button-normal-bg: #363640;
$button-normal-hover-bg: #494956;
$button-normal-focused-bg: #494956;
$button-normal-active-bg: #7d7d92;
$button-default-color: #000000de;
$button-default-bg: #eed484;
$button-default-hover-bg: #f3e1aa;
$button-default-focused-bg: #f3e1aa;
$button-default-active-bg: #ffffff;
$button-danger-color: #000000de;
$button-danger-bg: #f44336;
$button-danger-hover-bg: #f6695f;
$button-danger-focused-bg: #f6695f;
$button-danger-active-bg: #f99b94;
$button-success-color: #000000de;
$button-success-bg: #8bc34a;
$button-success-hover-bg: #a0ce6b;
$button-success-focused-bg: #a0ce6b;
$button-success-active-bg: #bbdc95;
$list-group-color: #ffffff99;
$list-border-color: #515159;
$list-group-header-bg: transparent;
$list-normal-color: #ffffff;
$list-expanded-group-color: #eed484;
$list-item-hover-bg: #ffffff0d;
$list-item-selected-bg: #6e6e8080;
$list-item-active-bg: #656577;
$fieldset-field-label-color: #ffffff;
$button-group-normal-selected-color: #ffffff;
$button-group-normal-selected-bg: #ffffff2e;
$button-group-default-selected-color: #eed484;
$button-group-default-selected-bg: #eed48438;
$button-group-danger-selected-color: #f44336;
$button-group-danger-selected-bg: #f4433638;
$button-group-success-selected-color: #8bc34a;
$button-group-success-selected-bg: #8bc34a38;
$scrollable-scroll-bg: #707085b3;
$switch-bg: #9494a4;
$switch-handle-off-bg: #616173;
$switch-on-bg: #eed48480;
$switch-handle-on-bg: #eed484;
$tabs-tab-color: #ffffff8a;
$tabs-tab-selected-color: #eed484;
$tabs-selected-tab-bottom-border-color: #eed484;
$tabs-tab-bg: #2f2f38;
$tabs-hovered-tab-bg-color: #464653;
$badge-color: #000000de;
$badge-bg: #eed484;
$navbar-tab-color: #ffffff;
$navbar-tab-selected-color: #ffffff;
$navbar-tab-bg: #2f2f38;
$navbar-tab-selected-bg: #363640;
$overlay-content-bg: #363640;
$overlay-shader-bg: #0000009c;
$textbox-search-icon-color: #ffffff8a;
$texteditor-color: #ffffff;
$texteditor-placeholder-color: #808080;
$texteditor-bg: #ffffff0a;
$texteditor-focused-bg: #ffffff0a;
$texteditor-border-color: #ffffff6b;
$texteditor-hover-border-color: #ffffff;
$texteditor-focused-border-color: #eed484;
$texteditor-hover-bg: #ffffff12;
$dropdowneditor-icon-active-color: #ffffff8a;
$calendar-header-color: #ffffff;
$calendar-cell-other-color: #ffffff;
$calendar-cell-selected-bg: #eed484;
$calendar-shevron-icon-color: #eed484;
$load-indicator-segment-bg-color: #eed484;
$treeview-focused-bg: #ffffff0d;
$menu-color: #ffffff;
$menu-item-selected-bg: #494956;
$selectbox-list-bg: #363640;
$toolbar-bg: #363640;
$popup-title-bg: transparent;
$tileview-color: #ffffff;
$toast-color: #ffffffde;
$toast-info-bg: #000000de;
$toast-warning-bg: #ffc107;
$toast-error-bg: #f44336;
$toast-success-bg: #8bc34a;
$progressbar-bg: #eed4844d;
$progressbar-range-bg: #eed484;
$progressbar-label-color: #eed484;
$tooltip-color: #ffffff;
$tooltip-bg: #000000;
$material-slider-bar-bg: #eed4843d;
$material-slider-bg: #eed484;
$material-slider-tooltip-color: #000000de;
$gallery-indicator-bg: #363640;
$gallery-indicator-item-selected-bg: #eed484;
$gallery-indicator-focused-bg: #eed484;
$gallery-navbutton-hover-color: #eed484;
$gallery-navbutton-active-color: #eed484;
$loadpanel-content-bg: #363640;
$tagbox-tag-color: #ffffff99;
$tagbox-tag-bg: #525261;
$tagbox-tag-active-color: #ffffff;
$tagbox-tag-button-remove-bg: #0000005c;
$accordion-title-color: #ffffff;
$accordion-item-border-color: #515159;
$accordion-icon-active-color: #ffffff;
$colorbox-overlay-bg: #363640;
$datagrid-base-background-color: #363640;
$datagrid-columnchooser-item-color: #ffffff99;
$datagrid-columnchooser-font-weight: 500;
$datagrid-drag-header-border-color: #eed48480;
$datagrid-selection-bg: #eed48412;
$datagrid-row-selected-border-color: #515159;
$datagrid-row-selected-color: #ffffff;
$datagrid-row-focused-color: #000000de;
$datagrid-row-focused-bg: #c9b476;
$datagrid-menu-icon-color: #ffffff8a;
$datagrid-cell-modified-border-color: #8bc34a52;
$datagrid-row-invalid-faded-border-color: #f4433652;
$datagrid-group-row-color: #ffffff8a;
$datagrid-group-row-bg: #363640;
$datagrid-search-color: #000000de;
$datagrid-search-bg: #eed484;
$datagrid-row-error-color: #ffffff;
$datagrid-row-error-bg: #a83e3a;
$datagrid-focused-border-color: #c9b476;
$datagrid-editor-bg: transparent;
$datagrid-row-alternation-bg: #3f3f4b;
$datagrid-summary-color: #ffffffb3;
$pager-page-selected-color: #000000de;
$pager-page-selected-bg: #eed484;
$pivotgrid-area-color: #ffffff8a;
$pivotgrid-totalcolor: #17171b33;
$pivotgrid-grandtotalcolor: #ffffff0d;
$pivotgrid-field-area-text-color: #bcbcbc4d;
$fileuploader-filename-color: #ffffff;
$fileuploader-falename-status-color: #ffffff;
$fileuploader-border-color: #515159;
$scheduler-base-border-color: #515159;
$scheduler-accent-border-color: #515159;
$scheduler-appointment-text-color: #000000de;
$scheduler-appointment-base-color: #eed484;
$scheduler-appointment-start-color: #0000004d;
$scheduler-workspace-focused-cell-color: #eed4841f;
$scheduler-first-month-border-color: #515159;
$scheduler-current-time-cell-color: #eed484;
$form-field-item-color: #ffffff99;
$form-group-border-color: #515159;
$filterbuilder-text-color: #ffffff;
$filterbuilder-text-focus-color: #ffffff;
$filterbuilder-plus-icon-color: #8bc34ab3;
$filterbuilder-remove-icon-color: #f44336b3;
$filterbuilder-group-operation-color: #f443364d;
$filterbuilder-item-field-color: #eed4844d;
$filterbuilder-item-operator-color: #8bc34a4d;
$filterbuilder-item-value-color: #51515980;
$drawer-shader-background-color: #00000080;
